{% extends 'Base.html' %}
{% block content %}
    <div class="e-breadcumb-wrap text-center">
    <h2 class="e-breadcumb-title">فراموشی رمز عبور</h2>
    <ul class="e-breadcumb-kist">
        <li>
            <a href="index.html">خانه </a>
        </li>
        <li>
            <a href="javascript:void(0);"> فراموشی رمز عبور</a>
        </li>
    </ul>
</div>
<!-- Product Category start -->
<div class="e-forgotpassword-wrap e-forgotpassword-cloth">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="e-fp-box">
                    <form method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mb-20">رمز عبور خود را فراموش کرده اید؟ لطفا نام کاربری یا آدرس ایمیل خود را وارد نمایید. پیوندی برای ایجاد گذرواژه جدید از طریق ایمیل دریافت خواهید کرد.</p>
                            </div>

                                {% csrf_token %}
                            <div class="col-md-12">
                                <div class="e-form-field mb-20">
                                    <label>ایمیل یا نام کاربری </label>
                                    <input class="e-field-inner" type="email" name="email">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="">
                                    <button type="submit"  class="e-btn">ارسال بازیابی رمز عبور</button>
                                </div>
                            </div>

                        </div>
 </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}