{% extends 'Base.html' %}
{% block content %}

    <div class="e-breadcumb-wrap text-center">
    <h2 class="e-breadcumb-title">فراموشی رمز عبور</h2>
    <ul class="e-breadcumb-kist">
        <li>
            <a href="index.html">خانه </a>
        </li>
        <li>
            <a href="javascript:void(0);"> فراموشی رمز عبور</a>
        </li>
    </ul>
</div>
<!-- Product Category start -->
<div class="e-forgotpassword-wrap e-forgotpassword-cloth">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="e-fp-box">

                        <div class="row">
                            <div class="col-md-12">
                                <p class="mb-20">لینک بازیابی رمز عبور به ایمیل شما فرستاده شد</p>

                            </div>
{#                            <div class="col-md-12">#}
{#                                <div class="e-form-field mb-20">#}
{#                                    <label>ایمیل یا نام کاربری </label>#}
{#                                    <input class="e-field-inner" type="email" name="email">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-md-12">#}
{#                                <div class="e-form-field mb-20">#}
{#                                    <label>رمز عبور </label>#}
{#                                    <input class="e-field-inner" type="Password">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-md-12">#}
{#                                <div class="">#}
{#                                    <a href="javascript:void(0);" class="e-btn">ارسال ایمیل بازیابی رمز عبور</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
 {% endblock %}
