{% extends 'Base.html' %}
{% load static %}
{% block content %}
    <div class="e-breadcumb-wrap text-center">
    <h2 class="e-breadcumb-title">دسته محصولات </h2>
    <ul class="e-breadcumb-kist">
        <li>
            <a href="index.html">خانه </a>
        </li>
        <li>
            <a href="javascript:void(0);">لباس مردانه </a>
        </li>
        <li>
            <a href="javascript:void(0);">ژاکت </a>
        </li>
    </ul>
</div>
    {% include 'Products/CatgoriesFilter.html' with cat=categories %}
{% endblock %}